
.idea/.name
.idea/aws.xml
.idea/csv-plugin.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Random_code.iml
.idea/Random_Things.iml
.idea/vcs.xml
